@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); 
*{ 
    margin: 0;
    padding: 0; 
    box-sizing: 
    border-box; 
    font-family: 'Poppins', sans-serif; 
} 
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url(1.jpg);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: red;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 1 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #ccc;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3 ease;
}
.datalist{
    color: red;
}
.img .red .gif{
    margin-top: 10px;
}
.b{
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.container img{
    border-radius: 15px;
    margin-top: 15px;
}
